@import '../../globals';

.home {
  display: flex;
  flex-direction: column;
  margin: 7% auto;
  width: 500px;
  border: solid 3px $gray1;
  padding: 50px;
  border-radius: 25px;

  &__title {
    margin-bottom: 30px;
  }

  &__statistics {
    text-decoration: none;
    color: $blue1;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
  }
}
