@import '../../globals';

.home {
  display: flex;
  flex-direction: column;
  margin: 7% auto;
  width: 500px;
  border: solid 3px $gray1;
  padding: 50px;
  border-radius: 25px;

  &__title {
    margin-bottom: 30px;
  }
}
