@import '../../globals';

.playing {
  display: flex;
  margin: 7% auto;
  width: 500px;


  &__title {
    margin-bottom: 30px;
  }

  &__winner_message {
    color: $blue1;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px,
  }
}


@include onTabletPortrait {
  .playing {
    flex-direction: column;
  }
}

