@import '../../globals';

.playing {
  display: flex;
  margin: 7% auto;
  width: 500px;


  &__title {
    margin-bottom: 30px;
  }
}


@include onTabletPortrait {
  .playing {
    flex-direction: column;
  }
}

